<div class="absolute hidden opacity-0 xl:flex 2xl:opacity-100 transition-opacity top-64 -left-2" style="will-change: transform; transform: translateY(-150px)" id="saucy-arin">
  <div class="grow-0 w-56 relative">
    <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
      <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px; max-width: 100%;">
        <img 
          style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px none; margin: 0px; padding: 0px;"
          src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27480%27%20height=%27480%27/%3e"  
          alt=""
        >
      </span>
      <img
        src="{{ 'saucy-arin.png' | asset_img_url: "large" }}"
        decoding="async"
        data-nimg="intrinsic"
        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;"
      >
    </span>
  </div>
</div>