<div class="absolute flex origin-top justify-end" style="top:90%;width:310%;left:-210%">
  <div data-state="open" data-orientation="horizontal" class="relative origin-top top-[13px] shadow-lg rounded-xl bg-black overflow-hidden z-50 w-radix-navigation-menu-viewport h-radix-navigation-menu-viewport radix-state-open:animate-scale-in-content radix-state-closed:animate-scale-out-content transition-[width_height_transform] duration-300 ease-elastic-soft" style="--radix-navigation-menu-viewport-width: 634px; --radix-navigation-menu-viewport-height: 372px;">
    <div id="radix-4-content-radix-0" aria-labelledby="radix-4-trigger-radix-0" data-orientation="horizontal" class="bg-black absolute w-auto top-0 left-0 rounded-lg radix-motion-from-start:animate-enter-from-left radix-motion-from-end:animate-enter-from-right radix-motion-to-start:animate-exit-to-left radix-motion-to-end:animate-exit-to-right" dir="ltr">
      <div class="p-5 w-min">
        <div class="gap-4 flex flex-row">
          <div class="rounded-md space-y-2 w-min">
            <h5 class="text-sm font-semibold text-gray-500 block w-56 cursor-default">Shop by Collection</h5>
            <a class="cursor-pointer transition duration-200 block group bg-gray-700 rounded-xl focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75 active:scale-[98%] active:ease-elastic aspect-[7/3] w-56 border-orange-500 bg-orange-500/20 border-2 hover:bg-orange-500" href="/search">
              grumps-logo-orange.liquid
            </a>
            <a class="cursor-pointer transition duration-200 block group bg-gray-700 rounded-xl focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75 active:scale-[98%] active:ease-elastic aspect-[7/3] w-56 border-[#D40066] bg-pink-500/20 border-2 hover:bg-[#D40066]" href="/search/collection/game-gyaru">
              grumps-logo-red.liquid
            </a>
            <a class="cursor-pointer transition duration-200 block group bg-gray-700 rounded-xl focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75 active:scale-[98%] active:ease-elastic aspect-[7/3] w-56 overflow-clip relative bg-blue-500/20 hover:bg-blue-500" href="/stickers">
              <div class="h-0 w-0 absolute transition-all duration-300 ease-in-out border-2 border-r-0 border-b-0 border-black border-r-white border-b-white group-hover:border-[24px] sm:group-hover:border-[16px] group-hover:border-r-[24px] sm:group-hover:border-r-[16px] group-hover:border-b-[24px] sm:group-hover:border-b-[16px] rounded-br-none group-hover:rounded-br-xl"></div>
              <div class="w-full h-full overflow-clip rounded-xl border-blue-500 border-2">
                grumps-logo-blue.liquid
              </div>
            </a>
          </div>
          <div class="bg-gray-800 rounded-full w-[2px]"></div>
          <div class="grow">
            <h5 class="text-sm font-semibold mb-1 text-gray-500 block cursor-default">Shop by Category</h5>
            <div class="gap-x-8 gap-y-2 grid grid-flow-col max-h-72 grid-rows-2 w-max pr-4">
              <div class="">
                <a class="text-white font-bold text-lg hover:underline block whitespace-nowrap tracking-wide" href="/search/apparel">
                  apparel-icon
                  <span class="align-middle">Apparel</span>
                </a>
                <ul>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/t-shirts">T-Shirts</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/hats">Hats</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/socks">Socks</a>
                  </li>
                </ul>
              </div>
              <div class="">
                <a class="text-white font-bold text-lg hover:underline block whitespace-nowrap tracking-wide" href="/search/accessories">
                  Accessories Icon
                  <span class="align-middle">Accessories</span>
                </a>
                <ul>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/pins">Pins</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/keychains">Keychains</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/drinkware">Drinkware</a>
                  </li>
                </ul>
              </div>
              <div class="">
                <a class="text-white font-bold text-lg hover:underline block whitespace-nowrap tracking-wide" href="/search/miscellaneous">
                  Miscellaneous Icon
                  <span class="align-middle">Miscellaneous</span>
                </a>
                <ul>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/books">Books</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/stationery">Stationery</a>
                  </li>
                  <li>
                    <a class="text-white font-bold hover:underline block whitespace-nowrap tracking-wide" href="/search/posters">Posters</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>