<div class="absolute flex origin-top justify-end" style="top:90%;width:310%;left:-210%">
  <div data-state="open" data-orientation="horizontal" class="relative origin-top top-[13px] shadow-lg rounded-xl bg-black overflow-hidden z-50 w-radix-navigation-menu-viewport h-radix-navigation-menu-viewport radix-state-open:animate-scale-in-content radix-state-closed:animate-scale-out-content transition-[width_height_transform] duration-300 ease-elastic-soft" style="--radix-navigation-menu-viewport-width: 240px; --radix-navigation-menu-viewport-height: 256px;">
    <div id="radix-4-content-radix-1" aria-labelledby="radix-4-trigger-radix-1" data-orientation="horizontal" class="bg-black absolute w-auto top-0 left-0 rounded-lg radix-motion-from-start:animate-enter-from-left radix-motion-from-end:animate-enter-from-right radix-motion-to-start:animate-exit-to-left radix-motion-to-end:animate-exit-to-right" dir="ltr">
      <div class="w-60 p-3">
        <div class="w-full flex flex-col space-y-2">
          <a class="w-full px-4 py-3 hover:bg-white rounded-md text-white text-lg font-semibold hover:text-black tracking-wide focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75" href="https://gamegrumps.com/" data-radix-collection-item="">Home</a>
          <a class="w-full px-4 py-3 hover:bg-white rounded-md text-white text-lg font-semibold hover:text-black tracking-wide focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75" href="https://gamegrumps.com/about" data-radix-collection-item="">About</a>
          <a class="w-full px-4 py-3 hover:bg-white rounded-md text-white text-lg font-semibold hover:text-black tracking-wide focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75" href="https://gamegrumps.com/game-development" data-radix-collection-item="">Game Development</a>
          <a class="w-full px-4 py-3 hover:bg-white rounded-md text-white text-lg font-semibold hover:text-black tracking-wide focus:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-opacity-75" href="https://gamegrumps.com/blog" data-radix-collection-item="">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>