.container {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.text-subtle {
  color: #69727b;
}

summary::marker {
  content: '';
}

.bg-navy {
  background-color: rgb(22, 84, 167);
}

.border-navy {
  border-color: rgb(27, 84, 167);
}

button:disabled,
button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}



.quantity-input {
  color: currentColor;
  background-color: transparent;
  border-bottom: currentColor;

  font-size: 1.4rem;
  font-weight: 400;
  opacity: .85;
  text-align: center;
  border: 0;
  padding: 0 .5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.quantity-input[type="number"] {
  -moz-appearance: textfield;
  width: 2.5rem;
}

/* Rich Text Editor RTE */
.Text_body__ldD0k :is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
  margin-bottom: 1rem;
}

.Text_body__ldD0k ul {
  list-style-type: disc;
}

.Text_body__ldD0k ol, .Text_body__ldD0k ul {
  padding-left: 1.5rem;
}

.radix-state-closed\:animate-accordion-close[data-state="closed"] {
  animation: accordion-close-content .2s ease forwards;
}

.radix-state-open\:animate-accordion-open[data-state="open"] {
  animation: accordion-open-content .2s ease forwards;
}

@keyframes accordion-close-content {
  0% {
    height: 150px;
  }

  100% {
    height: 0;
  }
}

@keyframes accordion-open-content {
  0% {
    height: 0;
  }

  100% {
    height: 150px;
  }
}

.\!bg-interactive {
  background-color: #3b434b !important;
}